body{
	background:red;
}

.layout{
	padding:10px;
	margin:20px;
	background:white;
}

h1{
	text-align:center;
	color:white;
	margin-bottom:20px;
}

.tablelayout{
	background:orange;
}

table{
	width:100%;
	background:white;
	color:white;
	border:2px solid black;
}

.tableimg{
	width:15%;
	background:black;
	padding:5px;
}

.tableinfo{
	width:85%;
	background:gray;
	padding:5px;
	
}

img{

	height:150px;
	width:150px;
}
	